
LABORATORIO/PYTHON/Leccion04/BD/.idea/workspace.xml
/PROGRAMACION/Leccion05/ConversionObjetos/nbproject/private/
/PROGRAMACION/Leccion05/ConversionObjetos/build/
/PROGRAMACION/Leccion05/ClaseObject/nbproject/private/
/PROGRAMACION/Leccion05/ClaseObject/build/
/PROGRAMACION/Leccion05/ClosesAbstractas/nbproject/private/
/PROGRAMACION/Leccion05/ClosesAbstractas/build/
LABORATORIO/PYTHON/Leccion07/.idea/workspace.xml
env
__pycache__