<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body class="bg-secondary">
    
    {% include './partials/menu.html' %}
    
    <main>
        {% block content %}{% endblock content %}
    </main>

    {% include './partials/footer.html' %}

    
</body>

</html>