<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    <style>
        .day {
            border: 1px solid #ccc;
            padding: 10px;
            margin-bottom: 10px;
        }
    </style>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body class="bg-secondary">
    
    {% include './partials/menu.html' %}
    
    <main>
        {% block content %}{% endblock content %}
    </main>

    <footer>
        {% include './partials/footer.html' %}
    </footer>
    
</body>
</html>