{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    {% bootstrap_javascript %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.css'%}" />
    <link rel="stylesheet" href="{% static 'css/fonts.css'%}" />
    <link rel="stylesheet" href="{% static 'css/style.css'%}" />
    
</head>
<body class="bg-secondary">
    
    {% include './partials/menu.html' %}
    
    <main>
        {% block content %}{% endblock content %}
    </main>

    <footer>
        {% include './partials/footer.html' %}
    </footer>
    
    <script src="{% static 'js/core.min.js'%}"></script>
    <script src="{% static 'js/script.js'%}"></script>
    <script src="{% static 'js/galeria.js'%}"></script>
</body>

</html>