{% extends './layouts/base.html' %}

{% block title %}Quienes somos?{% endblock title %}

{% block content %}
<div class="container-fluid p-5 my-5 bg-dark text-white">
    <h1>¿Quienes somos?</h1>

    <p><strong>MateCoders</strong> se dedica a acercar los mejores contenidos de entretenimiento con un enfoque en la calidad y actualidad de series, películas, programas y futuros proyectos.</p>
    <p>Nos gusta analizar con pasión crítica cada uno de los detalles que rodean al cine para recomendar lo mejor y disfrutar del trabajo audiovisual.</p>
    <p>Nuestro proyecto fue fundado hace un año y medio por un grupo de compañeros apasionados por la Programación. Empezamos como un pequeño grupo de estudio, pero pronto nos dimos cuenta que queríamos crear nuestros propios proyectos. </p>
    <p>Con el tiempo hemos desarrollado una línea de calidad audiovisual que refleja la esencia de nuestro equipo.</p>
    <p>Nosotros valoramos la creatividad, la calidad y la sostenibilidad. Somos un grupo de estudiantes donde cada uno aporta una perspectiva única. </p>
    <h2>Te presentamos nuestro equipo:</h2>

    <table class= "table table-dark table-hover">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Correo electrónico</th>
            </tr> 
        </thead>
        <tbody>
            <tr> 
                <td>Facundo Martin</td>
                <td>Giacomozzi</td>
                <td>facu_giacomozzi@hotmail.com</td>
            </tr>
            <tr> 
                <td>Matías</td>
                <td>Canevaro</td>
                <td>matiascanevaro91@gmail.com</td>
            </tr>
            <tr> 
                <td>Martín Alejandro</td>
                <td>Torres</td>
                <td>martinalejandrotorres77@gmail.com</td>
            </tr>
            <tr> 
                <td>Luis</td>
                <td>Gómez</td>
                <td>edubosterogomez@gmail.com</td>
            </tr>
            <tr> 
                <td>Fernanda</td>
                <td>Segovia</td>
                <td>fers9281@gmail.com</td>
            </tr>
            <tr> 
                <td>Gabriel</td>
                <td>Romero</td>
                <td>gabi_r1992@hotmail.com</td>
            </tr>
            <tr> 
                <td>Agustin</td>
                <td>Rodriguez Alvarez</td>
                <td>rodriguezalvarezagustin@gmail.com</td>
            </tr>
            <tr> 
                <td>Lautaro</td>
                <td>Urquiza</td>
                <td>lauttaro.urquiza@gmail.com</td>
            </tr>
            <tr> 
                <td>Federico</td>
                <td>Pfund</td>
                <td>federicopfund@gmail.com</td>
            </tr>
            <tr> 
                <td>Sabrina</td>
                <td>Mantero</td>
                <td>sabrinajudithmantero@gmail.com</td>
            </tr>

        </tbody>
    </table>
        
        
    <p>¡Nos encantaría escuchar tus comentarios y sugerencias!</p>
</div>


{% endblock content %}