{% extends './layouts/base.html' %}

{% block title %}Boleteria{% endblock title %}

{% block content %}
<div class="container-fluid p-5 my-5 bg-dark text-white">
    <h1>Boleteria</h1>
</div>

<div class="container-fluid p-5 my-5 bg-dark text-white">
    <div class="container-fluid m-3 bg-secondary">
        <p class=""> </p>
    </div>
    <hr>
    <form action="{% url 'boleteria' %}" method="POST">
        {% csrf_token %}
        {{ form.as_p }}

        <button type="submit">Seleccionar butacas</button>
    </form>
    
</div>


{% endblock content %}