{% extends './layouts/base.html' %}

{% block title %}Boleteria{% endblock title %}

{% block content %}
<div class="container-fluid p-5 my-5 bg-dark text-white">
    <h1>Boleteria</h1>
</div>
<form action="{% url '' %}" method="post"></form>
<div class="container-fluid p-5 my-5 bg-dark text-white">
    <table class="table-dark">
        <tr>
            {% for butaca, ocupada in butacas_ocupadas.items %}
                {% if ocupada %}
                    <td class="bg-warning p-1">{{ butaca }}</td>
                {% else %}
                    <td class="bg-success p-1">{{ butaca }}</td>
                {% endif %}
                {% if forloop.counter|divisibleby:20 %}
                    </tr><tr>
                {% endif %}
            {% endfor %}
        </tr>
    </table>
</div>


{% endblock content %}