{% extends './layouts/base.html' %}

{% block title %}Cartelera{% endblock title %}

{% block content %}
<div class="container-fluid p-5 my-5 bg-dark text-white">
    <h1>Bienvenidos al cine MateCoders</h1>
    <ul>
        {% for funcion in funciones %}
        <div class="row">
            <div class="col-sm-4">{{ funcion.pelicula.title }} - Sala {{ funcion.sala }} </div>
            <div class="col-md-8">
                {% for  in  %}
                {% comment "funciones de la semana" %} funciones del {% endcomment %}
                {% endfor %}
            </div>
        </div>
        

        {% endfor %}
    </ul>
</div>

{% endblock content %}