{% extends './layouts/base.html' %}

{% block title %}Cartelera{% endblock title %}

{% block content %}
<div class="container-fluid p-5 my-5 bg-dark text-white">
    <h1>Bienvenidos al cine MateCoders</h1>
    
    <ul>
        <div class="row">
            <h6>Información de la función</h6>
            {% for funcion in funciones %}
                <div class="col-sm-4">
                    <div class="day">
                        <p>Sala: {{ funcion.sala }}</p>
                        <p>Pelicula: {{ funcion.pelicula }}</p>
                        <p>Fecha: {{ funcion.fecha }}</p>
                        <p>Hora:  {{ funcion.hora }}</p>                        
                    </div>
                <div class="col-sm-8">Sala: {{ funcion.sala }}</div>
                </div>
            {% endfor %}
        </div>    
    </ul>
   
</div>

{% endblock content %}