{% extends './layouts/base.html' %}
{% block content %}
<section class="section section-sm section-fluid bg-default">
    <div class="container">
        <form method="POST" class="container mt-4">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="row justify-content-center">
                <div class="col-sm-6">
                    <button type="submit" class="btn btn-primary">Registrar</button>
                </div>
            </div>
        </form>
    </div>
</section>



{% endblock content %}