{% extends './layouts/base.html' %}

{% block title %}Selecciona tus butacas{% endblock title %}

{% block content %}
<div class="container-fluid p-5 my-5 bg-dark text-white">
    <h1>Seleccionar Butacas</h1>
</div>

<div class="container-fluid p-5 my-5 bg-dark text-white">

    <hr>

    <form action="{% url 'compra_exitosa' %}" id="butacas-form" method="post">
        {% csrf_token %}

        <input type="hidden" id="cantidad-entradas" value="{{ cantidad_entradas }}">

        <table class="table-dark">
            <tr>
                {% for butaca, ocupada in butacas_ocupadas.items %}
                    <td>
                        <input type="checkbox" class="btn-check" name="butaca_{{ butaca }}" id="{{ butaca }}" value="True" autocomplete="off" {% if ocupada %}disabled{% endif %}>
                        <label class="btn btn-outline-success" for="{{butaca}}">{{ butaca }}</label><br>
                    </td>
                    {% if forloop.counter|divisibleby:15 %}
                        </tr><tr>
                    {% endif %}
                {% endfor %}
            </tr>
        </table>
        

        

        <button type="submit">Continuar</button>
    </form>
</div>
{% endblock content %}
