{% extends './layouts/base.html' %}

{% block title %}Selecciona tus butacas{% endblock title %}

{% block content %}
<div class="container-fluid p-5 my-5 bg-dark text-white">
    <h1>Seleccionar Butacas</h1>
</div>

<div class="container-fluid p-5 my-5 bg-dark text-white">
    
    <hr>

    <form action="{% url 'compra_exitosa' %}" id="butacas-form" method="post">
        {% csrf_token %}

        <input type="hidden" id="cantidad-entradas" value="{{ cantidad_entradas }}">

        <table class="table-dark">
            <tr>
                {% for butaca, ocupada in butacas_ocupadas.items %}
                    <td>
                        <button id="butaca-{{ butaca }}" style="width: 40px" type="button" class="butaca button-btn btn m-1 p-1{% if ocupada %} btn-secondary{% else %} btn-success{% endif %}">
                            {{ butaca }}
                        </button>
                    </td>
                    {% if forloop.counter|divisibleby:15 %}
                        </tr><tr>
                    {% endif %}
                {% endfor %}
            </tr>
        </table>
        
        <button type="submit">Continuar</button>
    </form>
</div>

<script>
    // JavaScript para controlar la selección de butacas y validar la cantidad seleccionada

    // Obtener la cantidad de entradas desde el input oculto
    var cantidadEntradas = parseInt(document.getElementById('cantidad-entradas').value);

    // Contador de butacas seleccionadas
    var butacasSeleccionadas = 0;

    // Función para manejar el evento de selección de una butaca
    function seleccionarButaca(event) {
        var butaca = event.target;
        
        // Verificar si la butaca está ocupada
        if (butaca.classList.contains('btn-secondary')) {
            return; // Ignorar butacas ocupadas
        }
        
        // Verificar si la butaca ya ha sido seleccionada
        if (butaca.classList.contains('btn-primary')) {
            butaca.classList.remove('btn-primary');
            butacasSeleccionadas--;
        } else {
            if (butacasSeleccionadas < cantidadEntradas) {
                butaca.classList.add('btn-primary');
                butacasSeleccionadas++;
            } else {
                alert('Has alcanzado el límite de butacas seleccionadas.');
            }
        }
    }

    // Agregar el evento click a todos los botones de butacas
    var butacas = document.getElementsByClassName('butaca');
    for (var i = 0; i < butacas.length; i++) {
        butacas[i].addEventListener('click', seleccionarButaca);
    }

    // Validar la cantidad de butacas seleccionadas antes de enviar el formulario
    var form = document.getElementById('butacas-form');
    form.addEventListener('submit', function(event) {
        if (butacasSeleccionadas !== cantidadEntradas) {
            alert('Debes seleccionar la cantidad correcta de butacas.');
            event.preventDefault();
        }
    });
</script>


{% endblock content %}