{% extends './layouts/base.html' %}

{% block title %}Selecciona tus butacas{% endblock title %}

{% block content %}
<div class="container-fluid p-5 my-5 bg-dark text-white">
    <h1>Seleccionar Butacas</h1>
</div>

<div class="container-fluid p-5 my-5 bg-dark text-white">

    <hr>

    <form action="{% url 'compra_exitosa' %}" id="butacas-form" method="post">
        {% csrf_token %}

        <input type="hidden" id="cantidad-entradas" value="{{ cantidad_entradas }}">

        <table class="table-dark">
            <tr>
                {% for butaca, ocupada in butacas_ocupadas.items %}
                    <td>
                        <input type="checkbox" class="form-check-input" value="{{ butaca }}" id="butaca-{{ butaca }} {% if ocupada %}disabled{% endif %} autocomplete="off" ">
                        <label class="form-check-label" for="butaca-{{ butaca }}">
                            {{ butaca }}
                        </label>
                    </td>
                    {% if forloop.counter|divisibleby:15 %}
                        </tr><tr>
                    {% endif %}
                {% endfor %}
            </tr>
        </table>

        <button type="submit">Continuar</button>
    </form>
</div>


{% endblock content %}